<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My test task">
    <test name="selenium tests">
        <classes>
            <class name="selenium.GoogleTest"/>
        </classes>
    </test>
    <test name="api tests">
        <classes>
            <class name="api.TinyApiTests"/>
        </classes>
    </test>
</suite>