<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My test task">
    <test name="google tests">
        <classes>
            <class name="google.GoogleTest"/>
        </classes>
    </test>
    <test name="api tests">
        <classes>
            <class name="api.ApiTest"/>
        </classes>
    </test>
</suite>